{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>✏ Edit Question</h1>

    <form method="POST">

        <label>Question</label><br>
        <input type="text"
               name="question"
               value="{{ question['question'] }}"
               required>

        <br><br>

        <label>Option A</label><br>
        <input type="text"
               name="option_a"
               value="{{ question['option_a'] }}"
               required>

        <br><br>

        <label>Option B</label><br>
        <input type="text"
               name="option_b"
               value="{{ question['option_b'] }}"
               required>

        <br><br>

        <label>Option C</label><br>
        <input type="text"
               name="option_c"
               value="{{ question['option_c'] }}"
               required>

        <br><br>

        <label>Option D</label><br>
        <input type="text"
               name="option_d"
               value="{{ question['option_d'] }}"
               required>

        <br><br>

        <label>Correct Answer</label><br>

        <select name="correct_answer">

            <option value="A" {% if question['correct_answer']=="A" %}selected{% endif %}>A</option>

            <option value="B" {% if question['correct_answer']=="B" %}selected{% endif %}>B</option>

            <option value="C" {% if question['correct_answer']=="C" %}selected{% endif %}>C</option>

            <option value="D" {% if question['correct_answer']=="D" %}selected{% endif %}>D</option>

        </select>

        <br><br>

        <button type="submit" class="btn">
            💾 Update Question
        </button>

    </form>

    <br>

    <a href="/view_questions/{{ question['quiz_id'] }}" class="btn">
        ⬅ Back
    </a>

</div>

{% endblock %}